@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
$picDesktop : "https://dummyimage.com/480x400/000/0011ff";
$picTablet : "https://dummyimage.com/280x200/000/0011ff";
$picMobile : "https://dummyimage.com/350x270/000/0011ff";
$fontFamily : 'Josefin-Sans', sans-serif;
$color-1: rgb(156, 213, 250);
$color-2: #6E6;
$color-3: #C60;
$color-4: #9ca8af;
$bgOverlay-1 : rgba(0, 0, 0, 0.64);
$bgOverlay-2 : rgba(0, 0, 0, 0.4);
$bgGray: rgba(0, 0, 0, 0.6);
$bgBody : #777777;
$bgColorLightBlue : #6cc0f7;
$bgColorLightGray: #e9e9e9;
$anchorColorHover : #444444;
$header:#444444;

$fontSizeHeader: 18px;