@media (min-width: 300px) {

    .fa-bars {
        color: white;
        border: 1px solid white;
        padding: 2%;
        height: fit-content;
        text-decoration: none;
    }

    .header {
        @include bgPic("/img/montains.jpeg",center,cover);
        height: 80vh;
        padding: 5%;
        @include flexBox(column,space-around,center); 
        h2, h3 {
            color: white;
            border-width: 0px;
        }
        .nav-bar {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        p {
            font-size: $fontSizeHeader;
        }
        
        .header-div {
            color: white;
            padding: 5%;
            @include flexBox(column,center,center,nowrap,30px);
            width: 60%;
            background-color: $bgOverlay-2;
            // position: absolute;
            // left: 60px;
            // bottom: 200px;
        }
    }

    .service {
        @include flexBox(column,center,center,wrap,30px);
        padding: 2%;
        aside {
            border-radius: 50%;
            border: 1px solid $bgColorLightBlue;
            width: 15vh;
            height: 15vh;
            @include flexBox(column,center,center);
            color: $bgColorLightBlue;
        }

        [class*="service-box-"] {
            box-sizing: border-box;
            padding: 3%;
            @include flexBox(column,center,center,nowrap,30px);
            width: 80%;
            border: 40px solid $bgColorLightGray;
            text-align: center;
        }
        
    }

    .grid-gallery {
        @include flexBox(column,center,center,wrap);
        padding: 2%;

        .gallery-bottom {
            padding: 2%;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            h3 {
                padding: 5% 0%;
            }

            aside {
                width: 310px;
                height: 250px;
                @include bgPic($picMobile);
            }
        }

        [class*="gallery-box-"] {
            padding-left: 3%;
            padding: 5%;
            background-color: $bgColorLightGray;
            @include flexBox(column,flex-start,flex-start,nowrap);
        }
    }

    .subscribe {
        background-color: $bgColorLightBlue;
        color: white;
        padding: 5%;
        @include borderBox(2vh,solid,white);
        @include flexBox(column,center,center,nowrap);
        > h2 {
            width: 80%;
            padding: 15%;
            text-align: center;
            color: white;
        }
        > p {
            padding: 3%;
            text-align: center;
        }
        > form {
            width: 90%;
            @include flexBox(column,center,flex-start,nowrap,20px);
        }
        [type="email"] {
            width: 90%;
            padding: 4%;
            color: white;
            background-color: $color-1;
            &::placeholder {
                color: white;
            }
        }

        [type="submit"] {
            width: 50%;
            padding: 3%;
            font-size: 90%;
            color: white;
            font-weight: 600;
            background-color: $bgColorLightBlue;
            border: 2px solid white;
        }
    }

    .contact {
        padding: 3%;
        @include flexBox(column,center,center,nowrap);

        > p {
            width: 100%;
            text-align: center;
            padding: 10% 0%;
            font-size: 24px;
        }

        > form {
            width: 95%;
            @include flexBox(column,center,center,nowrap,20px);
        }

        [type="text"],[type="email"],textarea {
            @include borderBox(1px, solid, $bgOverlay-2);
            font-family: $fontFamily;
            padding: 2.5%;
            width: 90%;
        }
        textarea {
            height: 25vh;
        }
        [type="submit"] {
            background-color: $bgColorLightBlue;
            color: white;
            font-weight: 600;
            width: 90%;
            padding: 2.5%;
        }

    }

    .footer {
        @include flexBox(column,center,center,nowrap,50px);
        background-color: $bgColorLightGray;
        padding: 2%;
        height: 30vh;
        color: $bgBody;
        .icons {
            width: 60%;
            display: flex;
            justify-content: space-between;
            a {
                color: $bgBody;
                text-decoration: none;
            }
        }
    }
}